
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body, html {
height: 100%;
font-family: Arial, sans-serif;
}

.container {
display: flex;
flex-direction: row;
height: 100%;
}



/* style colonne gauche fixe */
.sectionfixe {
width: 30%;
background-image: url("/images/fond4.jpg") ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 20px;
}

.sectionfixeimgtxt {
width: 100%;
height: auto;
}

.image {
width: 100%;
margin-top: 20px;
}

.texte {
max-width: 100%;
height: auto;
margin-top: 20px;
color: yellow;
}


/* style NAVBAR colonne droite fixe  */
.sectionmobile {
width: 70%;
display: flex;
flex-direction: column;
}

.navbar {
background-color: #ffffff;
}

.navbar ul {
list-style: none;
display: flex;
justify-content: space-around;
padding: 10px;
}

.navbar ul li {
margin: 0 10px;
}

.navbar ul li a {
color: black;
text-decoration: none;
padding: 10px 15px;
display: block;
}

.navbar ul li a:hover {
background-color: greenyellow;
}




/* style CONTENU colonne droite fixe  */

.contenu {
flex: 1;
overflow-y: auto;
}

.sectioncontenu {
height: 500px;
/* padding: 20px; */
display: flex;
align-items: center;
justify-content: center;
}

.sectioncontenu img {
width: 300px;
height: 250px;
margin: 20px 20px 20px 20px;
}

.sectioncontenu h1 {
margin: 50px 20px 20px 20px;
width: 400px;
}

.sectioncontenu p {
margin: 20px 20px 20px 20px;
width: 400px;

}

.sectioncontenu:nth-child(1) {
background: red;
clip-path: polygon(0 0, 100% 0, 100% 400px, 0 500px);
}

.sectioncontenu:nth-child(2) {
background: #ffffff;
}

.sectioncontenu:nth-child(3) {
background: yellow;
clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
}










/* style media mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sectionfixe {
        width: 100%;
    }

    
    .sectionmobile {
        width: 100%;
    }

    .sectioncontenu {
        flex-direction: column;
        align-items: flex-start;
    }

    .sectioncontenu img {
        margin-right: 0;
        margin-bottom: 20px;
    }

}
