
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body, html {
height: 100%;
font-family: "Righteous", sans-serif;
font-family: "Kanit", sans-serif;
}

h1{
font-family: "Kanit", sans-serif;
}

p {
font-size: 20px;
font-family: "Kanit", sans-serif;
}

a {
  font-family: "Kanit", sans-serif;
}

.righteous-regular {
font-family: "Righteous", sans-serif;
font-weight: 400;
font-style: normal;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}
  
.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}
  
.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
  
.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
  
.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
  
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  
.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}
  
.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}
  
.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}
  
.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}
  
.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}
  
.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}
  
.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}
  
.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}
  
.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}
  
.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}
  
.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  
  

.container {
display: flex;
flex-direction: row;
height: 100%;
}



/* style colonne gauche fixe */
.sectionfixe {
width: 25%;
background-color: #000000;
display: flex;
flex-direction: column;
/* align-items: center; */
/* justify-content: center; */
text-align: center;
margin: 0 auto;
}


.imagefixe {
width: 100%;
margin: 0 auto;
}

.blocinfos{
width: 60%;
display: flex;
flex-direction: column;
text-align: center;
margin: 0 auto;
}

.nom {
width: 100%;
font-family: "Kanit", sans-serif;
font-size:62px;
font-weight: lighter;
text-align: left;
color: #ffffff;
padding: 0px 0px 20px 0px;
}

.textepresentation {
max-width: 100%;
text-align: left;
font-family: "Kanit", sans-serif;
font-weight:300;
font-size: 16px;
line-height: 20px;
height: auto;
color: #ffffff;
}

.textecontact {
max-width: 100%;
text-align: left;
font-family: "Kanit", sans-serif;
font-weight:300;
font-size: 20px;
height: auto;
color: #ffffff;
padding: 20px 0px 0px 0px;
text-decoration: none;
}

.flecheverte {
  width: 20px;
  padding:6px 0px 0px 0px
}




    
/* style colonne droite fixe  */
.sectionmobile {
width: 75%;
display: flex;
flex-direction: column;
}


/* style barre de navigation */
.navbar {
background-color: #CDDC29;
width: 75%;
height: 80px;
position: fixed;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Ombre portée */
}

.navbar ul {
list-style: none;
display: flex;
justify-content: space-around;
padding: 20px;
font-size: 20px;

}

.navbar ul li a {
font-family: "Kanit", sans-serif;
text-align: center;
font-weight: 200;
font-size: 20px;
color: #ffffff;
text-decoration: none;
padding: 10px 20px;
display: block;
width: 200px;
}

.navbar ul li a:hover {
font-family: "Kanit", sans-serif;
text-align: center;
font-weight: bold;
color: #ffffff;
background-color:#000000;
padding: 10px 20px;
font-size: 20px;
border-radius: 5px;
cursor: pointer;
width: 200px;
}



/* style information pages textes et visuels */
.imagefonddiv {
width: 100%;
height: 100%;
background-image: url('/images/2147.jpg');
background-size: cover; /* Pour que l'image couvre tout le div */
background-position: center; /* Pour centrer l'image */
background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}

.contenu {
flex: 1;
overflow-y: auto;
}

.sectioncontenuimage {
height: 850px;
display: flex;
align-items: center;
}


/* style 4 métiers bloc central */
.blocprofessions{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 0px 0px 60px;
}

.professions {
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-size:70px;
  line-height: 120px;
  font-weight: 200;
  text-align: left;
  color: #000000;
  padding: 0px 0px 20px 0px;
  text-shadow: 2px 2px 5px rgba(205, 220, 41, 2);
}

.flecheverteprofessions {
  width: 50px;
}





.sectioncontenufondgris {
height: 850px;
display: flex;
align-items: center;
background-color: #CDDC29;
}









.sectioncontenufondblanc {
height: 850px;
display: flex;
align-items: center;
background-color: #ffffff;
}
    











/* style media mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sectionfixe {
        width: 100%;
    }

    
    .sectionmobile {
        width: 100%;
    }

    .sectioncontenu {
        flex-direction: column;
        align-items: flex-start;
    }

.sectioncontenu img {
        margin-right: 0;
        margin-bottom: 20px;
    }

}
